.Header-items {
  padding: 8px;
  position: fixed;
  height: 65px;
  width: 100vw;
  background-color: white;
  padding: 0px;
  z-index: 100;
}

.Header-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding-right: 10px;
  overflow: hidden;
  background-color: #ddd;
}

.Header-item {
  float: right;
  text-align: center;
  padding: 14px 16px;
}

.Header-link {
  color: black;
  text-decoration: none;
}

.Header-link:hover {
  color: #777;
}

.logo {
  position: fixed;
  left: 5%;
  height: 60px;
  z-index: 101;
}

.address {
  position: absolute;
  left: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.editIcon {
  margin-right: 8px;
}